body {
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.wrap-header {
	border-bottom: 1px solid black;
}

.navbar {
	width: 1200px;
	max-width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.navbar .nav-item{
	text-decoration: none;
	padding: 0 20px;
	font-weight: bold;
	color: black;
}

#logo {
	margin-right: 10%;
	font-size: 35px;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}
  
.dropdown {
	position: relative;
	display: inline-block;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#auth-button-inside, #rgt-button-inside {
	font-size: 16px;
	padding: 0;
	color: white;
}

#auth-button, #rgt-button {
	width: 100px;
	margin-left:10%;
	padding: 7px 25px;
	border-radius: 10px;
	border: 1px solid white;
	background-color: #4CAF50;
	float: right;
}

.wrap-body {
	padding: 50px;
	background-color: bisque;
}

.dashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1200px;
	max-width: 100%;
	margin: auto;
}

.sidebar {
	background-color: white;
	border: 1px solid #4CAF50;
	display: inline; /*wrap ôm lại sát text,...*/
	height: 100%;
	border-radius: 20px;
	/*-circle*/
}

.sidebar h4{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px ;
	text-transform: capitalize; 
	margin: 0;
	background-color: #4CAF50;
	padding: 10px 30px;
	color: white;
}

.sidebar ul{
	margin: 0;
	padding: 10px 0;
	list-style: none;
}

.sidebar ul li a{
	text-decoration: none;
	text-transform: capitalize;
	color: #555555;
	padding: 0 30px;
}

.sidebar ul li{
	padding: 10px 0;
	cursor: pointer; /*Hiển thị con trỏ chuột khi di chuột vào vùng*/
}

.sidebar ul li:hover{
	background-color: #eeeef2;
}

.carousel-slide {
	width: 700px;
	overflow: hidden;
	display: flex;
	margin: 0 200px 0 0;
}

.carousel-slide .carousel-image{
	height: 400px;
	width: 700px;
	object-fit: cover;
	object-position: center; 
	/* transform: translateX(-700px); */
}

table tr td th {
	border: 1px solid;
}