
{% extends "../lms/index1.html" %}
{% block title %}Create Lecture{% endblock %}

{% block content %}
{% if lecture_create_form %}
<form method="POST">
    {% csrf_token %}
    <div class="box-bg-create-course">
        <div class="box-create-course">
            <h1>Create a new lecture</h1>
            <div class="label-fields-profile">
                <label for="id_course">Course</label>
                <label for="id_name">Name</label>
                <label for="id_slide">Slide</label>
                <label for="id_video">Video</label>
                <label for="id_notes">Notes</label>
            </div>

            <div class="inp-fields-profile" >
                <select name="course" required id="id_course">
                    <option value="{{ course.id }}" selected>{{ course }}</option>
                </select>
                <input type="text" name="name" maxlength="255" required id="id_name">
                <input type="file" name="slide" id="id_slide">
                <input type="url" name="video" id="id_video">
                <textarea name="notes" cols="40" rows="10" id="id_notes"></textarea>
            </div>
            <button type="submit" ><a href="#">Cancel</a></button>
            <button type="submit" name="add_lecture">Add lecture</button>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}