
{% block content %}
<div class="box-main-das">
    <div class="box-main-control">
        <h1>Menu</h1>
        <ul>
            <li>
                {% if can_modify_obj %}
                    <a href="{% url 'add_lecture' course_id=course.id %}" target="_blank" name='unitoflecture'>Add lecture</a>
                {% endif %}
            </li>
            <li class="item">Teacher
                <ul class="itemshow" >
                    <li><a href="{% url 'user_profile' detail.teacher.id %}" target="_blank">{{ detail.teacher.name }}</a></li>
                </ul>
            </li>
            <li class="item">Classmate
                <ul class="itemshow" >
                    {% if detail.classmates %}
                        {% for classmate in detail.classmates %}
                            {% if classmate != this_user %}
                                <li>
                                    <a href="{% url 'user_profile' classmate.id %}" target="_blank">{{ classmate.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <li class="item" id="lilatest">My course
                <ul class="itemshow">
                    {% if my_courses %}
                        {% for course in my_courses %}
                            <li>
                                <a href="../courses/{{ course.id }}/" target="_blank"><i>{{ course.name }}</i></a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    {% if detail %}
        {% if detail.lectures %}
            <div class="box-main-content">
                {% for lecture in detail.lectures %}
                    {% if lecture.lecture %}
                        {% with lect=lecture.lecture %}
                            <div class="box-das-content-details">
                                <div class="das-content">
                                    <div class="das-content-title">
                                        <i class="fab fa-elementor"></i>
                                        <h1>{{ lect }}</h1>
                                    </div>
                                    <div class="das-content-show">
                                        {% if lect.notes %}
                                            <p>{{ lect.notes }}</p>    
                                        {% endif %}

                                        {% if lect.video %}
                                            <a href="{{ lect.video }}" target="_blank"> <i> This is video </i></a> 
                                        {% endif %}

                                        {% if lect.slide %}
                                            <a href="{% url 'view_file' lect.slide.path %}" target="_blank"> <i>  {{ lect.get_slide_name }} This is slide </i></a>
                                        {% endif %}
                                        <a href="#"><i> This is slide </i></a>
                                    </div>
                                </div>

                                <div class="btn-modifly">
                                    {% if can_modify_obj %}
                                        <form action="{% url 'delete_obj' lect.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" id="btndelete">Delete</button>
                                        </form>

                                        <form action="{% url 'modify_obj' lect.id %}" method="GET">
                                            {% csrf_token %}
                                            <button type="submit" name="save-changes" id="btnchange">Modify</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}