{% extends "../lms/index1.html" %}
{% block content %}
<body>
    <div class="course-overview">
        {% if course %}
            <div id="if-enrolled">
                <h1>Overview</h1>
                <p><h2>{{ course.name }}</h2></p>
                <p>{{ course.description }}</p>
                <p>{{ course.price }}</p>
                {% if teach %}
                    <a href="{% url 'user_profile' teach.teacher.id %}">{{ teach.teacher.name }}</a>
                {% endif %}
            </div>
            {% if not enrolled %}
                {% if user.is_authenticated %}  
                    <button>
                        <a href="{% url 'enroll' course.id %}">Enroll</a>
                    </button>
                {% else %}
                    <div>
                        Please <a href="{% url 'login' %}">Login</a>
                        or <a href="{% url 'register' %}">Register</a> to access this course.
                    </div>
                    {% endif %}
            {% else %}
                {% include 'courses/course_detail.html' %}
                <script>
                    var div_overview = document.getElementById("if-enrolled");
                    div_overview.style.display = "none";
                </script>
            {% endif %}
        {% endif %}
    </div>
</body>
{% endblock %}