{% extends "../lms/index1.html" %}
{% block content %}
<body>
    <div class="course-detail">
        <h1>Detail</h1>
        {% if course %}
            <p><h2>{{ course.name }}</h2></p>
            <p>{{ course.teacherid.name }}</p>
            <p>{{ course.description }}</p>
            <p>{{ course.price }}</p>
            {% if not enrolled %}
                {% if user.is_authenticated %}
                    <button>
                        <a href="{% url 'enroll' course.id %}">Enroll</a>
                    </button>
                {% else %}
                    <div>
                        Please
                        <a href="{% url 'login' %}">Login</a>
                        or
                        <a href="{% url 'register' %}">Register</a>
                        to access this course.
                    </div>
                {% endif %}
            {% else %}
                <h5>You are enrolled in this course!</h5>
            {% endif %}
        {% endif %}
    </div>
</body>
{% endblock %}