{% extends "../lms/index1.html" %}
{% block title %}Course view{% endblock%}

{% block content %}
    {% if not enrolled %}
        <div class="course-over-view">
            <div class="course-view">
                <div class="course-view-left" id="coursename"> 
                    <h1>{{ course.name }}</h1> 
                </div>

                <div class="course-view-descript" id="coursedescript"> 
                    <i>{{ course.description }}</i> 
                </div>

                <div class="course-btn-enroll">
                    {% if user.is_authenticated %}    
                        <a href="{% url 'enroll' course.id %}">Enroll</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        {% include 'courses/course_detail.html' %}
        <script>
            var div_overview = document.getElementById("if-enrolled");
            div_overview.style.display = "none";
        </script>
    {% endif %}
{% endblock %}
