{% block content %}

{% if detail %}

    {% if detail.lectures %}
        {% for lecture in detail.lectures %}
            {% if lecture %}
                <div class="course-view" id="boxdetailslecture">
                    <div class="course-view-left" id="lessionname">
                        <i class="fas fa-list-ul"> &emsp; Lession </i> 
                    </div>

                    <div class="course-view-right" id="lessioncontent">
                        <h3>{{ lecture.lecture }}</h3>

                        {% if lecture.units %}
                            {% for unit in lecture.units %}
                                <ul>{{ unit }}</ul>  
                            {% endfor%}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if lecture_form %}
        <form method="POST" class="course-view" id="boxaddlecture">
            {% csrf_token %}
            <h3> Add lecture </h3> 
            {#{{lecture_form }}#}
            
            <div class="course-view-left" id="boxtitleadd">
                <label for="">Choise course</label>
                <label for="">lecture name</label>
             </div>
 
             <div class="course-view-right info-details-block" id="boxvalueadd">
                 <input type="text" name="course" value="{{ course.name }}" readonly>
                     
                 <input type="text" name="name" maxlength="255" required="" id="id_name">
             </div>
            <button type="submit" name="add_lect">Add</button>
        </form>
    {% endif %}

    {% if unit_form %}
        <h2>add unit</h2>
        <form method="POST">
            {% csrf_token %}
            {{ unit_form }}
            <button type="submit" name="add_unit">Add</button>
        </form>
    {% endif %}


{% endif %}
{% endblock %}