{% extends "../lms/index1.html" %}
{% block title %} {{ course.id }} {{ course.name }} {% endblock%}

{% block content %}
    {% if not enrolled %}
    <div class="bg-view">
        <div class="view-course">
            <div class="show-name-course">
                <h1> {{ course.name }} </h1>
            </div>
            <div class="show-teacher-course">
                <div class="img-teacher-course">
                    <img src="{{ teach.teacher.image.url }}" alt="image teacher">
                </div>
                <div class="name-teacher-course">
                    {% if teach %}
                        <a href="{% url 'user_profile' teach.teacher.id %}"> {{ teach.teacher.name }} </a>
                    {% endif %}
                </div>
            </div>

            {% if current_student %}
                <div class="btn-enroll">
                    <a href="{% url 'enroll' course.id %}">Enroll</a>
                    <p>Enroll to become one of another member in this course</p>
                </div>
            {% endif %}
            
        </div>
        <div class="course-descript">
            <h1>About this course</h1>
            <i> {{ course.description }} </i>
        </div>
    </div>              
    {% else %}
        {% include 'courses/course_detail.html' %}
        <script>
            var div_overview = document.getElementById("if-enrolled");
            div_overview.style.display = "none";
        </script>
    {% endif %}
{% endblock %}
