{% load crispy_forms_tags %}

{% block content %}
    <button onclick="toggle()">Add unit</button>
    <div class='add-unit-area' style="display: none;">
        <form method="POST">
            {% csrf_token %}
            {{ unit_form|crispy }}
            <button type="submit" name="add_unit">Add</button>
        </form>
    </div>

    <script>
        function toggle() {
            var add_unit_areas = document.getElementsByClassName("add-unit-area");
            for (let i=0; i<add_unit_areas.length; i++) {
                if (add_unit_areas[i].style.display === "none") {
                    add_unit_areas[i].style.display = "block"
                } else {
                    add_unit_areas[i].style.display = "none"
                }
                break;
            }
        }
    </script>
{% endblock %}