

{% extends "../lms/index1.html" %}
{% block content %}
<h1>My courses</h1>
<a href="{% url 'create_course' %}">Create a new course</a>

{% if my_courses %}
    {% for course in my_courses %}
        <div class="c-box-course">
        
            <img src="{{ course.image.url }}"> 
            
            <div class="name-course">
                <i>{{ course.name }}</i>
            </div>
            
            <div class="bt-view">
                <a href="../courses/{{ course.id }}/"><i>Details</i></a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>You are not enrolled in any courses!</p>
{% endif %}

{% endblock %}