{% extends "../lms/index1.html" %}
{% load static %}
{% block content %}

<!-- chi co giao vien ms hien doan nay len -->
{% if this_teacher %}  
    <div class="c-box-course">
        <div class="img-course">
            <a href="{% url 'create_course' %}"><img src="{% static 'images/plus.png' %}" alt="Anh dau cong"></a>
        </div>
    </div>
{% endif %}

{% if my_courses %}
    {% for course in my_courses %}
        <div class="c-box-course">
            <div class="img-course">
                {% if course.image %}
                    <img src="{{ course.image.url }}">
                {% endif %}
            </div>
            
            <div class="name-course">
                <i>{{ course.name }}</i>
            </div>
            
            <div class="bt-view">
                <a href="../courses/{{ course.id }}/"><i>Details</i></a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>You are not enrolled in any courses!</p>
{% endif %}

{% endblock %}