<!DOCTYPE html>
<html>
    <head>
        {% extends '../lms/index.html' %}
        <meta charset="utf-8""/>
        <title>{% block title %}Tạo khóa học{% endblock %}</title>
    </head>
    <body>
        {% load crispy_forms_tags %}
        {% block content %}
            {% if already_enrolled %}
                <script>
                    alert("You already enrolled in this course!");
                    window.location.href = "{% url 'course_detail' course_id %}";
                </script>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    {{ enrollment_form|crispy }}
                    <button type="submit" id="enroll">
                        Thêm
                    </button>
                </form>
                
                <script>
                    alert("Enrolled successfully!")
                    window.onload = function() {
                        var button = document.getElementById("enroll");
                        button.form.submit();
                    }
                    window.location.href = "{% url 'course_detail' course_id %}";
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>