{% block content %}
<div>
    <h1>Detail</h1>
    <div>
        {% if detail %}
            {% if detail.lectures %}
                {% for lecture in detail.lectures %}
                    {% if lecture.lecture %}
                    {% with lect=lecture.lecture %}
                        <h2>{{ lect }}</h2>
                        <h3>note</h3>
                        {% if lect.notes %}
                            {{ lect.notes }}
                        {% endif %}
                            
                        <h3>silde</h3>
                        {% if lect.slide %}
                            <a href="{% url 'view_file' lect.slide.path %}">{{ lect.get_slide_name }}</a>
                        {% endif %}
                            
                        <h3>video</h3>
                        {% if lect.video %}
                            <iframe src="{{ lect.video }}" type="video|mp4" width="640" height="480"></iframe>
                        {% endif %}

                        <h3>reading</h3>
                        {% if lect.reading %}
                            {{ lect.reading }}
                        {% endif %}

                        {% if can_modify_obj %}
                        <div>
                            <form action="{% url 'delete_obj' lect.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        </div>

                        <div>
                            <form action="{% url 'modify_obj' lect.id %}" method="GET">
                                {% csrf_token %}
                                <button type="submit" name="save-changes">Modify</button>
                            </form>
                        </div>
                        {% endif %}
                    {% endwith %}
                    {% endif %}
                {% endfor %}

                {% if can_modify_obj %}
                    <a href="{% url 'add_lecture' course_id=course.id %}" name='unitoflecture'>Add lecture</a>
                {% endif %}
            {% endif %}

            {% if detail.teacher %}
            <div>
                <h2>Teacher:</h2>
                <a href="{% url 'user_profile' detail.teacher.id %}">{{ detail.teacher.name }}</a>
            </div>
            {% endif %}

            {% if detail.classmates %}
            <div class="members">
                <h2>Classmates:</h2>
                {% for classmate in detail.classmates %}
                {% if classmate != this_user %}
                <a href="{% url 'user_profile' classmate.id %}">{{ classmate.name }}</a>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

        {% endif %}
    </div>
</div>
{% endblock %}