{% extends "../lms/index1.html" %}
{% block title %} Modify course {% endblock %}
{% block content %}
    <form method="POST" enctype='Multipart/form-data'>
        {% csrf_token %}
        <div class="box-bg-create-course">
            <div class="box-create-course">
                <h1>Modify course</h1>
                <div class="label-fields-profile">
                    <label for="id_image">Image</label>
                    <label for="id_name">Name</label>
                    <label for="id_description">Description</label>
                </div>
    
                <div class="inp-fields-profile">
                    {% if course.image %}
                        <input type="file" name="image" accept="image/*" id="id_image" value="{{ course.image }}">
                    {% else %}
                        <input type="file" name="image" accept="image/*" id="id_image">
                    {% endif %}

                    <input type="text" name="name" value="{{ course.name }}" maxlength="255" required id="id_name">
                    
                    {% if course.description %}
                        <textarea name="description" cols="40" rows="10" maxlength="10000" id="id_description">{{ course.description }}</textarea>
                    {% else %}
                        <textarea name="description" cols="40" rows="10" maxlength="10000" id="id_description"></textarea>
                    {% endif %}
                    
                </div>
                <button type="submit" ><a href="{% url 'course_overview' course.id %}">Cancel</a></button>
                <button type="submit">Save changes</button>
                <button type="submit"><a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure to delete this course?')">Delete</a></button>                     
            </div>
        </div>
    </form>
{% endblock %}