{% extends '../lms/index1.html' %}
{% block title %}Trang chủ{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Chào mừng, {{ user.username }}</h3>
            <p><a href="{% url 'logout' %}">Đăng xuất</a></p>
                {% if latest_subject_list %}
                    <ul>
                        {% for subject in latest_subject_list %}
                            <li><a href="courses/{{ subject.id }}/">{{ subject.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Không có sẵn khóa học nào.</p>
                {% endif %}
            {% else %}
                <p>Bạn chưa đăng nhập.</p>
                <a href="{% url 'login' %}">Đăng nhập</a>
            {% endif %}
{% endblock %}
