{% load static %}
<!DOCTYPE html>
<html lang="vi"> 
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Home page{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-2.css' %}">
        <script src="https://kit.fontawesome.com/fe59a62916.js"></script>
    </head>

    <body>  <!-- phần đầu trang nơi tất cả các trang khác kế thừa nó -->
        {% if user.is_authenticated %}
            <div class="header">
                <div class="header-inner width-1200">
                    <div class="navbar">

                        <!-- <form method="GET" action="{% url 'search' %}">
                            <input type="search" name="q" id="search" placeholder="Search for courses">
                            <button type="submit">Search</button>
                        </form> -->

                        <a href="{% url 'index' %}">Home</a>

                        <a href="https://www.facebook.com/thepql" target="_blank">Contact</a>
                        <a href="{% url 'dashboard' %}">My Courses</a>
                        <a href="{% url 'user_profile' this_user.id %}">Profile</a>
                    </div>

                    <!-- {% if this_user %}
                        {% if this_user.image %}
                            <div class="join-btt">
                                <img src="{{ this_user.image.url }}"> 
                            </div> 
                        {% endif %}
                    {% endif %} -->
                    
                    <div class="join-bt">
                        <a href="{% url 'logout' %}">logout</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="header">
                <div class="header-inner width-1200">
                    <div class="navbar">
                        <a href="">Home</a>
                        <a href="">Community</a>
                        <a href="">Contact</a>
                        <a href="">Event</a>
                        <a href="">Blog</a>
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                
                    <div class="join-bt">
                        <a href="{% url 'register' %}"> Join for free </a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% block content %}

            {% if user.is_authenticated %}
                {% if latest_course_list %}
                    {% for course in latest_course_list %}
                        <div class="c-box-course">
                            <div class="img-course">
                                {% if course.image %}
                                    <img src="{{ course.image.url }}">
                                {% endif %}
                            </div>
                            
                            <div class="name-course">
                                <i>{{ course.name }}</i>
                            </div>
                            
                            <div class="bt-view">
                                <a href="courses/{{ course.id }}/">View course</a>
                            </div>
                        </div>

                        <div class="c-box-course">
                            <div class="img-course">
                                {% if course.image %}
                                    <img src="{{ course.image.url }}">
                                {% endif %}
                            </div>
                            
                            <div class="name-course">
                                <i>{{ course.name }}</i>
                            </div>
                            
                            <div class="bt-view">
                                <a href="courses/{{ course.id }}/">View course</a>
                            </div>
                        </div>

                        <div class="c-box-course">
                            <div class="img-course">
                                {% if course.image %}
                                    <img src="{{ course.image.url }}">
                                {% endif %}
                            </div>
                            
                            <div class="name-course">
                                <i>{{ course.name }}</i>
                            </div>
                            
                            <div class="bt-view">
                                <a href="courses/{{ course.id }}/">View course</a>
                            </div>
                        </div>
                        
                    {% endfor %}
                {% endif %}

            {% else %}
            
                <div class="home-b1">
                    <div class="home-b1-inner">
                        <div class="content">
                            <h1>The World's Best Online Course</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, et!</p>
                        </div>
                        <div class="funfact">
                            <div>1,000+ Courses</div>
                            <div>10,000+ Learners</div>
                            <div>Across 20 countries</div>
                            <div>Diversity</div>
                            <div>Profession</div>
                            </div>
                     </div>
                </div>

            {% endif %}
        {% endblock %}

        <div class="c-bg-footer">
            <div class="c-box-footer">
                <div class="c-box-content-footer">
                    <div class="footer-content-head">
                        <h1>MOC</h1>
                        <h3>About US</h3>
                        <p>Our team consists of 5 members Thep, Long, Tan, Phuong, Duong. They are very handsome and beautiful.</p>
        
                    </div>
        
                    <div class="footer-content">
                        <h2>Lorem, ipsum dolor.</h2>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
        
                    </div>
        
                    <div class="footer-content">
                        <h2>Lorem, ipsum dolor.</h2>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        
                    </div>
        
                    <div class="footer-content">
                        <h2>Lorem, ipsum dolor.</h2>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        <a href="#">Lorem, ipsum.</a>
                        
                    </div>
                </div>
            </div>
            
            <div class="footer-content-latest">
                <div class="footer-text-content">
                    <p>@UET webteam 2020 theplongphuongduongtan</p>
                </div>
                <div class="footer-icon-content">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-github-square"></i>
                    <i class="fab fa-youtube-square"></i>                
                </div>
            </div>
        </div>
    </body>
</html>