<!DOCTYPE html>
<html lang="vi"> 
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Trang chủ{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'lms/style.css' %}">
    </head>

    <body>
        <div class="wrap-header">
            <div class="navbar">
                <a href="{% url 'index' %}" id="logo" class="nav-item">Learning Management System</a>

                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="dropbtn">
                            {% firstof this_user.name user_email %}
                        </button>
                        <div class="dropdown-content">
                            <a href="{% url 'dashboard' %}">My courses</a>

                            {% if this_user %}
                                <a href="{% url 'user_profile' this_user.id %}">Profile</a>
                            {% endif %}

                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <div>
                        <span>
                            <button id="rgt-button">
                                <a id="rgt-button-inside" class="nav-item" href="{% url 'register' %}">
                                    Đăng ký</a>
                            </button>
                        </span>
                        
                        <span>
                            <button id="auth-button">
                                <a id="auth-button-inside" class="nav-item" href="{% url 'login' %}">
                                    Đăng nhập</a>
                            </button>
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="wrap-body">
            <div class="dashboard">
                {% block content %}
                        {% if user.is_authenticated %}
                            Chào mừng, {{ user.email }}!
                            <!--<p><a href="{% url 'logout' %}">Đăng xuất</a></p>-->
                            {% if latest_course_list %}
                                <ul>
                                    {% for course in latest_course_list %}
                                        <li><a href="courses/{{ course.id }}/">{{ course.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% else %}
                            <p>Bạn chưa đăng nhập.</p>
                            <!--<a href="{% url 'login' %}">Đăng nhập</a>-->
                        {% endif %}
                    {% endblock %}
            </div>
        </div>
    </body>
</html>