{% extends "../lms/index1.html" %}
{% block content %}
<body>
    <div class="course-detail">
        <h1>Student Infomation</h1>
        <p>
            {% if this_student_name %}
            {{ this_student_name }}
            {% endif %}
        </p>

        <p>
            {% if this_student_email %}
                {{ this_student_email }}
            {% endif %}
        </p>

        <p>
            {% if this_student_joindate %}
                {{ this_student_joindate }}
            {% endif %}
        </p>
    </div>
</body>
{% endblock %}