{% extends "../lms/index1.html" %}
{% block content %}
<body>
    <div class="course-detail">

        {% if this_student %}
            <h1 id="student-info-header-txt">Student Information</h1>
            <p>{{ this_student.name }}</p>
            <p>{{ this_student.email }}</p>
            <p>{{ this_student.joindate }}</p>
        {% elif this_teacher %}
            <h1>Teacher Information</h1>
            <p>{{ this_teacher.name }}</p>
            <p>{{ this_teacher.email }}</p>
            <p>{{ this_teacher.joindate }}</p>
        {% else %}
            <p>Please update your information!</p>
        {% endif %}

        {% if this_user == this_student or this_user == this_teacher %}
            <h2>Edit Profile</h2>
            <div><a href="{% url 'change_password' %}">Change password</a></div>
            <script>
                var info_text = document.getElementById("student-info-header-txt");
                info_text.textContent = "My profile";
            </script>
        {% endif %}
    </div>
</body>
{% endblock %}