<!DOCTYPE html>
<html>
    <head>
        {% extends '../lms/index1.html' %}
        <meta charset="utf-8">
        <title>{% block title %}Change Password{% endblock %}</title>
    </head>
    <body>
        {% block content %}
            <form method="post">
                {% csrf_token %}
                <h2>Change Password</h2>
                <div>
                    <input type="password" name="old_password" autocomplete="current-password">
                    <input type="password" name="new_password1" autocomplete="new-password">
                    <input type="password" name="new_password2" autocomplete="new-password">
                    <button type="submit">Submit</button>
                </div>
            </form>
        {% endblock %}
    </body>
</html>