{% extends '../lms/base.html' %}
{% block title%} Reset password {% endblock%}

{% block content%} 
    {% if validlink %}
        <form class="box box-signup" id="box-reset-password" method="post">
            <h1>Reset Change</h1>
            {% csrf_token %}
            <input type="password" name="new_password1" autocomplete="new-password" placeholder="New password" required="" id="id_new_password1">
            <input type="password" name="new_password2" autocomplete="new-password" placeholder="New password comfirm" required="" id="id_new_password2">
            <input type="submit">

            <div class="text-option">
                <i><a href="{% url 'login' %}"> Back to login? </a></i> <br>
                <i><a href="{% url 'register' %}"> Create a new? </a></i>
            </div>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.</p>
    {% endif %}
{% endblock%}
