<!DOCTYPE html>
<html>
    <head>
        {% extends '../lms/index1.html' %}
        <meta charset="utf-8">
        <title>{% block title %}Password Reset Confirmation{% endblock %}</title>
    </head>
    <body>
        {% block content %}
            {% if validlink %}
                <h3>Change password</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Change password</button>
                </form>

                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
                    </div>
                    <button type="submit">Submit</button>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.</p>
            {% endif %}
        {% endblock %}
    </body>
</html>