{% extends '../lms/base.html' %}
{% load static%}

{% block title%} Reset password {% endblock%}

{% block js %}  
{% endblock%}

{% block content%} 
    <form class="box box-signup" id="box-reqest-email" method="post">
        {% csrf_token %}
        <h1> Reset Password </h1>
        <div class="register-forms">
            <input type="text" name="email" placeholder="E-mail" autocomplete="email" maxlength="254"
            required id="id_email">
            <input type="submit"> 
            <!-- {{ form.as_p }} -->
            <!-- <button type="submit">Submit</button> -->
        </div>

        <div class="text-option">
            <i><a href="{% url 'login' %}"> Back to login? </a></i> <br>
            <i><a href="{% url 'register' %}"> Create a new? </a></i>
        </div>
    </form>
{% endblock%}