{% extends '../lms/base.html' %}
{% load static%}

{% block title%} Signup {% endblock%}

{% block js %}  
{% endblock%}

{% block content%} 
    <form class="box box-signup" id="signup" action="." method="POST">
        {% csrf_token %}
        <h1> Signup </h1>
            
        <div class="register-forms">
            <input type="text" name="name" placeholder="Username" maxlength="45" id="id_name">  
            <input type="text" name="email" placeholder="E-mail" maxlength="255" id="id_email">
            <input type="password" name="password" placeholder="Password" id="id_password">       
            <input type="password" name="password2" placeholder="Password comfirm" id="id_password2">
                
                <!-- {{form.error}} -->
                    <!-- cần xử lý một cái gì đó hay ho -->

            <input type="submit" name="create user" value="Signup">
        </div>
    </form>
{% endblock%}