/* RESET */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: rgb(240, 240, 240);
}

.width-1200 {
    max-width: 1600px;
    width: 1600px;
    margin: auto;
}

/* HOME BASE */
.section_img{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
}

.section_img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* HEADER */
.header {
    background-color:rgba(0, 0, 0, 0.95);
    border-top: 2px solid greenyellow;
}
.header-inner {
    padding: 20px 0px;
    text-align: right;
}
.navbar {
    display: inline;
}

.navbar a{
    margin: 0px 15px;
    color: #d1d1d1;
    font-size: 18px;
    text-decoration: none;
}

.navbar a:hover{
    color: white;
}

.join-bt {
    display: inline;
}

.join-bt a{
    margin: 0px 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(84, 193, 97);
}

.join-bt a:hover{
    background-color: rgb(54, 159, 75);
}

/* TEST */
.join-btt{
    display: inline;
    margin-top: 100px;
}

.join-btt img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* HOME */
.home-b1 {
    background-image: url("bg2.jpg");
    height: 93vh;
    background-position: center;
    background-size: cover;
}
.home-b1-inner {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0px;
    height: 100%;
    position: relative;
}
.home-b1 .content {
    max-width: 1000px;
    width: 1000px;
    margin: auto;
    text-align: center;
    color: white;
}

.home-b1 .content h1{
    font-size: 60px;
    margin-top: auto;
    letter-spacing: 2.5px;
}

.home-b1 .content p{
    margin-top: auto;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.home-b1 .funfact {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.home-b1 .funfact div {
    color: white;
    letter-spacing: 1.5px;
}

/* FOOTER*/

.foot-tag {
    background-color: rgba(0, 0, 0, 0.2);
}

.foot-content {
    display: flex;
    max-width: 1300px;
    width: 1300px;
    text-align: center;
    margin: 0px auto;
    gap: 40px;
    border-bottom: 2px solid gray;
    padding: 50px 0 50px 0;
}

.foot-content h1 {
    text-align: center;
}


.foot-content div{
    letter-spacing: 1.5px;
}

.content-end-page{
    padding-top: 50px;
    padding-bottom: 70px;
}

.content-end-page p{
    display: inline;
    margin-left: 20px;
}

.content-end-page .icon-end-page{
    display: inline;
    margin-left: 1300px;
}

.content-end-page .icon-end-page i {
    font-size: 30px;
    letter-spacing: 15px;
}

/* REGISTER */

.box{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    height: 500px;
    text-align: center;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    background: rgba(22, 21, 21, 0.75);
}

.box h1{
    color: white;
    text-transform: capitalize;
    margin-bottom: 50px;
    font-weight: 450;
}

/* DETAILS */
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    outline: none;
    color: white;
    transition: 0.25s;
}


/* LOGIN */
.box-login {
    padding: 80px 60px 60px 60px;
}

.box-login input[type = "text"],.box-login input[type = "password"]{
    text-align: center;
    width: 250px;
    margin: 30px auto;
    padding: 14px 10px;
    border-radius: 24px;
    border: 2px solid #3498db;
}

.text-option {
    margin-top: 50px;
}

.text-option a {
    letter-spacing: 1.2px;
    color: azure;
    text-decoration: none;
}


/* SIGNUP */
.box-signup {
    padding: 50px 60px 60px 60px;
}


.box-signup input[type = "text"],.box-signup input[type = "password"]{
    width: 300px;
    margin: 30px auto;
    padding: 10px;
    border-bottom: 2px solid #3498db;
}
  

/* BTN SUBMIT */
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}


/* EFFECT */
.box input[type = "submit"]:hover{
    background: #2ecc71;
    border-color: #2ecc71;
}
  
.box-login input[type = "text"]:focus,.box-login input[type = "password"]:focus {
    width: 300px;
    border-color: #2ecc71;
}

.box-signup input[type = "text"]:focus,.box-signup input[type = "password"]:focus{
      width : 310px ;
      border-bottom: 2px solid #2ecc71; 
}
  
::-webkit-input-placeholder {
    color: white;
}
::-moz-placeholder {
    color: white;
}
::-ms-input-placeholder {
    color: white;
}
  
.text-option a:hover {
    color: rgb(0, 255, 136);
}

@media screen and (max-width: 600px){
    .register-forms{
      flex-direction: column;
    }
  
    .input-fields{
      width: 100%;
    }
}

/* RESET PASSWORD */
#box-reqest-email  {
    padding: 120px 60px 60px 60px;
}

#box-reset-password {
    padding: 100px 60px 60px 60px;
}

/* CHANGE PASSWORD */
.c-change-password-bg {
    width: 100%;
    height: 850px;
    border-top: 1px solid white;
    background-color: rgba(0, 0, 0, 0.95);
}

.c-change-password-bg #box-change-password {
    padding: 80px 60px 60px 60px;
}

/* RESET PASSWORD DONE */
.c-notification {
    padding: 50px 0px 50px 25px;
    border-top: 1px solid white;
    background-color: rgba(0, 0, 0, 0.75);
}

.c-notification p {
    padding-bottom: 5px;
    color: white;
}

.c-notification p > a {
    text-decoration: none;
    color: rgb(0, 255, 136);
}

/* PROFILE */

.profile{
    text-align: center;
    height: 100%;
    border-top: 1px solid white;
    background-color: rgb(245, 245, 245);
}

.info-details-block{
    display: inline-block;
    width: 60%;
    height: 350px;
    margin: 50px 0 0 0;
    background-color: white;
}

.info-details-block h2 {
    text-transform: uppercase;
    text-align: center;
}

.info-details-block label{
    text-transform: capitalize;
    color: #333333;
}

.info-details-block input[type = 'text'], .info-details-block input[type = 'url']{
    display: inline-block;
    border-radius: 5px;
    color: #333333;
    border: 1px solid #333333;;
    width: 90%;
    padding: 10px;
    margin: 20px 20px;
    outline: none;
}

.label-fields{
    display: inline;
    float: left;
    width: 20%;
    height: 250px;
}

.label-fields label{
    text-align: center;
    display: block;
    padding-bottom: 35px;
    margin-top: 25px;
}

.ipt-fields{
    text-align: left;
    display: inline;
    float: right;
    width: 80%;
    height: 250px;
}

/* PROFILE AVATAR */
.info-details-block img{
    margin-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

/* PROFILE INFORMATION */
#infor{
    padding: 40px 0 10px 0;
    text-align: right;
}

/* PROFILE CONTACT */
#contact{
    padding: 40px 0 10px 0;
    text-align: right;
}

/* PROFILE EDITS */
#edit{
    height: 450px;
    padding: 20px 0 5px 0;
    text-align: right;
    border-bottom: 1px solid black;
}

#filechoiseimage{
    outline: none;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#editcomfirm{
    text-align: center;
}

#editcomfirm button[type="submit"]{
    padding: 11px;
    font-size: 15px;
    font-weight: 600;
    width: 110px;
    color: white;
    background-color: rgb(53, 186, 69);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 70px;
}

#editcomfirm a{
    padding: 10px;
    color: white;
    border-radius: 5px;
    outline: none;
    background-color: rgb(53, 186, 69);
    text-decoration: none;
}

#edit input[type = 'url']:focus{
    box-shadow: 0px 0px 7px 2px #3498db;
}

#editcomfirm a:hover,#editcomfirm button[type="submit"]:hover{
    background-color: rgb(51, 133, 61);
}
/* COURSE SHOW */
.c-box-course{
    position: relative;
    text-align: center;
    display: inline-block;
    height: 350px;
    width: 250px;
    left: 40px;
    margin: 20px 10px 0 10px;
    padding-top: 10px;
    background-color: white;
}

.c-box-course > img{
    text-align: center;
    height: 250px;
    width: 75%;
}

.name-course{
    position: absolute;
    text-align: left;
    bottom: 50px;
    padding: 5px 10px;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.name-course > i{
    font-size: 13px;
    font-weight: 500;
} 

.bt-view{
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    padding-top: 15px;
    background-color: white;
}

.bt-view > a{
    text-decoration: none;
    padding: 10px 40px;
    color: black;
}

.c-box-course:hover .bt-view{
    background-color: rgb(44, 209, 126);
}

.c-box-course:hover{
    box-shadow: 0px 0px 15px 5px rgb(159, 159, 159);
}


/* COURSE */
.course-over-view{
    text-align: center;
    height: 2900px;
    background-color: rgb(240, 240, 240);
    border-top: 1px solid white;
}

.course-view{
    display: inline-block;
    margin-top: 50px;
    height: 250px;
    width: 80%;
    background-color: white;
}

.course-view-left{
    padding: 20px;
    float: left;
    width: 50%;
    height: 100px;
}

.course-view-right{
    padding: 20px;
    float: right;
    width: 50%;
    height: 100px;
}

.course-view-descript{
    padding: 20px;
    margin-top: 60px;
    width: 100%;
    height: 120px;
}

/* COURSE DETAILS */
#coursename{
    padding: 10px ;
    height: 60px;
    width: 100%;
}

#coursename h1{
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

#coursedescript{
    border-bottom: 2px solid rgb(210, 210, 210);
    border-top: 2px solid rgb(210, 210, 210);
    text-align: left;
    text-indent: 30px;
}

.course-btn-enroll{
    margin: 25px 0;
    text-align: center;
}

.course-btn-enroll > a{
    text-decoration: none;
    color: whitesmoke;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: rgb(50, 180, 60);
}

.course-btn-enroll > a:hover{
    background-color: rgb(40, 150, 30);
}

#courseteacher{
    height: 50px;    
}

#courseteachertitle{
    padding: 10px;
    width: 20%;
    height: 50px;
}

#courseteachername{
    border-left:  2px solid rgb(210, 210, 210);
    padding: 10px;
    width: 80%;
    height: 50px;
}

#courseteachername > a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
}

#classmatecourse{
    height: 100px;
}

#classmatecoursetitle{
    height: 100px;
    padding: 10px;
    width: 20%;
}

#classmatecoursename{
    border-left:  2px solid rgb(210, 210, 210);
    padding: 10px;
    width: 80%;
    height: 100px;
}

#classmatecoursename > a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}

/* CREATE COURSE */
#boxcoursecreate{
    margin-top: 100px;
    width: 70%;
    height: 400px;
}

#boxcoursecreate h2{
    padding-top: 10px;
    text-transform: capitalize;
}

#createcourseleft{
    text-align: right;
    width: 20%;
    height: 300px;
}

#createcourseleft label{
    display: block;
    text-transform: capitalize;
    margin-bottom: 40px;
}

#createcourseright{
    width: 80%;
    height: 300px;
    margin-top: 0px;
}

#createcourseright input[type = 'file']{
    display: inline-block;
    outline: none;
    width: 90%;
}

#createcourseright textarea{
    width: 90%;
    outline: none;
}

#boxcoursecreate button[type = 'submit']{
    color: whitesmoke;
    border: none;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: 400;
    letter-spacing: 1.0px;
    background-color: rgb(50, 180, 60);
}

#boxcoursecreate button[type = 'submit']:hover{
    background-color: rgb(60, 231, 75);
}

#createcourseright input[type = 'text']:focus{
    box-shadow: 0px 0px 7px 2px #3498db;
}

#createcourseright textarea:focus{
    box-shadow: 0px 0px 7px 2px #3498db;
}

/* ADD DETAILS COURSE */
#boxdetailslecture{
    margin-top: 50px;
    padding-top: 20px;
    width: 100%;
    height: 200px;
}

#lessionname{
    width: 20%;
    height: 150px;
}

#lessionname > i{
    letter-spacing: 1.5px;
    font-size: 25px;
}

#lessioncontent{
    width: 80%;
    height: 150px;
    text-align: left;
    border-left:  2px solid rgb(210, 210, 210);
}


/* ADD LECTURE */
#boxaddlecture{
    width: 100%;
    height: 170px;
    margin-bottom: 50px;
}

#boxaddlecture > h3{
    text-transform: capitalize;
    padding: 5px 0;
}

#boxtitleadd{
    padding: 10px 20px 20px 20px;
    width: 20%;
}

#boxtitleadd > label{
    display: block;
    text-transform: capitalize;
    margin-bottom: 25px;
}

#boxvalueadd {
    width: 80%;
    padding: 5px;
    margin-top: 0px;
}

#boxvalueadd input{
    margin: 0px 10px 5px 0px;
    outline: none;
}

#boxaddlecture button[type = 'submit']{
    color: whitesmoke;
    border: none;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 1.0px;
    background-color: rgb(50, 180, 60);
    outline: none;
}

#boxaddlecture button[type = 'submit']:hover{
    background-color: rgb(60, 231, 75);
}

#boxaddlecture input[name = 'name']:focus{
    box-shadow: 0px 0px 7px 2px #3498db;
}

/* ADD UNIT */
#boxunitadd{
    width: 100%;
    height: 430px;
    margin-top: 0;
}

#boxunitadd h3{
    text-transform: capitalize;
    margin-top: 10px;

}

#unitaddtitle{
    padding-right: 30px;
    text-align: center;
    width: 20%;
    height: 350px;
}

#unitaddtitle label{
    display: block;
    text-transform: capitalize;
    margin-bottom: 40px;
}

#unitaddvalue{
    text-align: center;
    width: 80%;
    height: 350px;
    margin: 0;
}

#unitaddvalue select{
    padding: 10px;
    width: 90%;
    outline: none;
    border-radius: 5px;
}

#unitaddvalue input[type = 'file']{
    display: inline-block;
    outline: none;
    width: 90%;
}

#unitaddvalue input[type = 'text'], #unitaddvalue input[type = 'file'], #unitaddvalue input[type = 'url']{
    margin: 5px 0;
    outline: none;
}

#unitaddvalue textarea{
    width: 90%;
    height: 100px;
    outline: none;
}

#boxunitadd button[type = 'submit']{
    color: whitesmoke;
    border: none;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 400;
    letter-spacing: 1.0px;
    background-color: rgb(50, 180, 60);
    outline: none;
}

#boxunitadd button[type = 'submit']:hover{
    background-color: rgb(60, 231, 75);
}

#boxunitadd input[type = 'text']:focus, #boxunitadd input[type = 'url']:focus, #boxunitadd textarea:focus{
    box-shadow: 0px 0px 7px 2px #3498db;
}



